#runner-container {
    width: 600px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    margin: 50px auto;
}
  
#runner-container * {
    position: absolute;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #5d5d5d;
}

#runner-container > p {
    right: 10px;
    top: 10px;
  }
  
#runner-container > h3 {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    top: 34px;
    left: 0;
    right: 0;
}
  
#game-over {
    display: none;
    text-transform: uppercase;
    letter-spacing: 7px;
}

#background {
    top: 45px;
}

#ground {
    bottom: 10px;
}

#dino {
    bottom: 12px;
    left: 22px;
}

.jumping {
    animation: jump 1s ease;
}
@keyframes jump {
    0% { transform:translateY(0%); }
    50% { transform:translateY(-150%); }
    100% { transform:translateY(0); }
}

.obstacle {
    bottom: 12px;
    left: 650px;
}