#runner-container {
    width: 600px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    margin: 50px auto;
}
  
#runner-container * {
    position: absolute;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    color: #5d5d5d;
}

#runner-container > p {
    right: 10px;
    top: 10px;
  }
  
#runner-container > h3 {
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    top: 34px;
    left: 0;
    right: 0;
}

#background {
    top: 45px;
    display: none;
}

#ground {
    bottom: 10px;
    display: none;
}

#dino {
    bottom: 12px;
    left: 22px;
}

#info {
    font-family: 'Press Start 2P';
    font-size: 0.6rem;
    text-transform: uppercase;
    text-align: center;
    color: lightgray;
    margin: 20px;
}